# üéØ Problema de Neg√≥cio:

* A Vale S.A. (VALE3) √© uma das principais empresas de minera√ß√£o listadas na B3, com forte impacto no portf√≥lio de investidores institucionais e pessoa f√≠sica no Brasil. Para um gestor de investimentos ou analista de mercado, antecipar a trajet√≥ria do pre√ßo de fechamento (Close) e entender os padr√µes de volume de negocia√ß√£o √© crucial para:

    1. Tomar decis√µes de compra/venda com melhor rela√ß√£o risco-retorno;

    2. Ajustar a aloca√ß√£o de ativos de curto a m√©dio prazo;

    3. Desenvolver estrat√©gias de trading baseadas em sinais estat√≠sticos e de machine learning;

    4. Gerenciar o risco por meio de previs√µes confi√°veis e m√©tricas de incerteza.

* Objetivo Geral: Desenvolver um modelo preditivo de s√©ries temporais para o pre√ßo de fechamento di√°rio de VALE3, de modo a gerar forecasts de 7, 15 e 30 a dias futuros e embasar decis√µes de investimento.

* Importando as bibliotecas necess√°rias:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.metrics import (
    mean_squared_error,
    mean_absolute_error,
    mean_absolute_percentage_error,
    r2_score
)
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, TimeSeriesSplit
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
import warnings
warnings.filterwarnings("ignore")

# 1. Coletando e Tratando os dados.

In [2]:
# Coletando dados da VALE3 e formatando o DataFrame:
vale = yf.download('VALE3.SA', start='2022-01-01', end='2025-06-01', multi_level_index=False)
vale = vale[['Close', 'Open', 'Volume']]
vale.reset_index(inplace=True)
vale['Date'] = pd.to_datetime(vale['Date'])
vale.set_index('Date', inplace=True)

# Criando um DataFrame para armazenar os dados do min√©rio de ferro:
minerio_ferro = pd.read_csv(
    "Dados Hist√≥ricos - Min√©rio de ferro refinado 62% Fe CFR Futuros.csv"
    )
minerio_ferro.reset_index(inplace=True)
minerio_ferro['Data'] = pd.to_datetime(minerio_ferro['Data'], dayfirst=True)
minerio_ferro.set_index('Data', inplace=True)
minerio_ferro = minerio_ferro[['√öltimo','Abertura', 'Var%']]
# invertendo a ordem das datas:
minerio_ferro = minerio_ferro.iloc[::-1]
minerio_ferro.rename(columns={
    '√öltimo': 'Close',
    'Abertura': 'Open',
    'Var%': 'Varia√ß√£o'
}, inplace=True)

# Unindo os DataFrames de VALE3 e min√©rio de ferro:
df = pd.merge(vale, minerio_ferro, left_index=True, right_index=True, suffixes=('_VALE3', '_Minerio'))
df.rename(columns={
    'Close_VALE3': 'Close_VALE3',
    'Open_VALE3': 'Open_VALE3',
    'Volume': 'Volume_VALE3',
    'Close_Minerio': 'Close_Minerio',
    'Open_Minerio': 'Open_Minerio',
    'Varia√ß√£o': 'Varia√ß√£o_Minerio'
}, inplace=True)

# Varia√ß√£o percentual do pre√ßo de fechamento da VALE3:
df['Varia√ß√£o_VALE3'] = df['Close_VALE3'].pct_change() * 100
# Trocando nan por 0%:
df['Varia√ß√£o_VALE3'].fillna(0, inplace=True)

# Vamos transformar as colunas Close_Minerio, Open_Minerio e Varia√ß√£o_Minerio em float:
df['Close_Minerio'] = df['Close_Minerio'].str.replace(',', '.', regex=False).astype(float)
df['Open_Minerio'] = df['Open_Minerio'].str.replace(',', '.', regex=False).astype(float)
df['Varia√ß√£o_Minerio'] = df['Varia√ß√£o_Minerio'].str.replace('%', '', regex=False).str.replace(',', '.', regex=False).astype(float)

# Varia√ß√£o percentual do pre√ßo de fechamento do min√©rio de ferro:
df['Varia√ß√£o_Minerio'] = df['Close_Minerio'].pct_change() * 100 
# Trocando nan por 7,02%:
df['Varia√ß√£o_Minerio'].fillna(7.02, inplace=True)

df

[*********************100%***********************]  1 of 1 completed

,Close_VALE3,Open_VALE3,Volume_VALE3,Close_Minerio,Open_Minerio,Varia√ß√£o_Minerio,Varia√ß√£o_VALE3
2022-01-03,59.548801,60.312248,18557200,120.40,120.40,7.020000,0.000000
2022-01-04,58.846428,59.938156,18178700,120.91,120.91,0.423588,-1.179492
2022-01-05,59.403736,59.067824,22039000,124.14,124.14,2.671408,0.947055
2022-01-06,60.602360,60.037411,22044100,125.94,125.94,1.449976,2.017758
2022-01-07,64.129486,61.381081,35213100,126.21,126.21,0.214388,5.820114
...,...,...,...,...,...,...,...
2025-05-23,54.320000,54.000000,14747300,99.81,99.81,-0.080088,0.165960
2025-05-27,53.840000,54.000000,17943000,99.48,99.48,-0.330628,-0.883652
2025-05-28,53.410000,53.740002,17700600,99.39,99.39,-0.090470,-0.798663
2025-05-29,53.450001,53.730000,10246100,99.27,99.27,-0.120736,0.074894
2025-05-30,52.099998,53.349998,28286100,99.12,99.12,-0.151103,-2.525729

# 2. Adicionando fetures temporais ao nosso DataFrame.

In [3]:
# Vamos adicionar as fetures de dias, semanas, meses, anos e calcular o seno e o cosseno do m√™s para capturar sazonalidade c√≠clica:
df['Dia'] = df.index.day
df['Semana'] = df.index.weekday
df['M√™s'] = df.index.month
df['Ano'] = df.index.year

df['Sin_M√™s'] = np.sin(2 * np.pi * df['M√™s'] / 12)
df['Cos_M√™s'] = np.cos(2 * np.pi * df['M√™s'] / 12)

# Vamos adicionar m√©dias m√≥veis de 20 e 200 dias no pre√ßo de fechamento da VALE3 e do min√©rio de ferro:
df['MM_20D_VALE3'] = df['Close_VALE3'].rolling(window=20, min_periods=1).mean()
df['MM_200D_VALE3'] = df['Close_VALE3'].rolling(window=200, min_periods=1).mean()
df['MM_20D_MF'] = df['Close_Minerio'].rolling(window=20, min_periods=1).mean()
df['MM_200D_MF'] = df['Close_Minerio'].rolling(window=200, min_periods=1).mean()

# Coluna do pre√ßo anterior(D-1):
df['Close_VALE3_D-1'] = df['Close_VALE3'].shift(1)
df['Close_VALE3_D-1'].fillna(0, inplace=True)

df

,Close_VALE3,Open_VALE3,Volume_VALE3,Close_Minerio,Open_Minerio,Varia√ß√£o_Minerio,Varia√ß√£o_VALE3,Dia,Semana,M√™s,Ano,Sin_M√™s,Cos_M√™s,MM_20D_VALE3,MM_200D_VALE3,MM_20D_MF,MM_200D_MF,Close_VALE3_D-1
2022-01-03,59.548801,60.312248,18557200,120.40,120.40,7.020000,0.000000,3,0,1,2022,0.5,0.866025,59.548801,59.548801,120.400000,120.400000,0.000000
2022-01-04,58.846428,59.938156,18178700,120.91,120.91,0.423588,-1.179492,4,1,1,2022,0.5,0.866025,59.197615,59.197615,120.655000,120.655000,59.548801
2022-01-05,59.403736,59.067824,22039000,124.14,124.14,2.671408,0.947055,5,2,1,2022,0.5,0.866025,59.266322,59.266322,121.816667,121.816667,58.846428
2022-01-06,60.602360,60.037411,22044100,125.94,125.94,1.449976,2.017758,6,3,1,2022,0.5,0.866025,59.600331,59.600331,122.847500,122.847500,59.403736
2022-01-07,64.129486,61.381081,35213100,126.21,126.21,0.214388,5.820114,7,4,1,2022,0.5,0.866025,60.506162,60.506162,123.520000,123.520000,60.602360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-23,54.320000,54.000000,14747300,99.81,99.81,-0.080088,0.165960,23,4,5,2025,0.5,-0.866025,54.055500,54.977746,99.505000,101.648300,54.230000
2025-05-27,53.840000,54.000000,17943000,99.48,99.48,-0.330628,-0.883652,27,1,5,2025,0.5,-0.866025,54.055000,54.964091,99.483000,101.611400,54.320000
2025-05-28,53.410000,53.740002,17700600,99.39,99.39,-0.090470,-0.798663,28,2,5,2025,0.5,-0.866025,54.023500,54.947780,99.457000,101.575400,53.840000
2025-05-29,53.450001,53.730000,10246100,99.27,99.27,-0.120736,0.074894,29,3,5,2025,0.5,-0.866025,54.004000,54.937926,99.427500,101.540500,53.410000
2025-05-30,52.099998,53.349998,28286100,99.12,99.12,-0.151103,-2.525729,30,4,5,2025,0.5,-0.866025,53.966000,54.914835,99.395500,101.506400,53.450001

# 3. Decomposi√ß√£o da s√©rie temporal (tend√™ncia, sazonalidade e res√≠duo).

In [4]:
decomposicao = seasonal_decompose(df['Close_VALE3'], model='multiplicative', period=30)
df['Tendencia'] = decomposicao.trend
df['Sazonalidade'] = decomposicao.seasonal
df['Residuo'] = decomposicao.resid

# Preencher valores ausentes resultantes da decomposi√ß√£o:
df.fillna(method='bfill', inplace=True)
df.fillna(method='ffill', inplace=True)

# 4. Lags e Rolling Statistics.

* Vamos criar colunas que trazem o pre√ßo de fechamento e o retorno percentual de ontem, anteontem, etc. Assim o modelo ‚Äúv√™‚Äù v√°rios dias anteriores:

In [5]:
lags = [1, 2, 3, 4, 5] # dias de atraso

for lag in lags:
    df[f'Close_Vale_lag{lag}'] = df['Close_VALE3'].shift(lag) # Pre√ßo do fechamento lagado
    df[f'Ret_Vale_lag{lag}'] = df['Close_VALE3'].shift(lag) # Retorno percentual lagado

* Agora, para captar tend√™ncias e volatilidade de curto e m√©dio prazo, vamos criar m√©dias m√≥veis de curto prazo e estat√≠sticas m√≥veis (desvio, assimetria, curtose) em janelas de v√°rios tamanhos:

In [6]:
windows = [5, 10, 15, 30, 50] # Janelas de dias

for w in windows:
    # M√©dia m√≥vel
    df[f'MM_de_{w}'] = df['Close_VALE3'].rolling(window=w, min_periods=1).mean()
    # Desvio-padr√£o m√≥vel dos retornos em w dias
    df[f'Desvio_Padrao_de_{w}'] = df['Close_VALE3'].rolling(window=w, min_periods=1).std()
    # Assimetria m√≥vel dos retornos
    df[f'roll_skew_{w}'] = df['Close_VALE3'].rolling(window=w, min_periods=1).skew()
    # Curtose m√≥vel dos retornos
    df[f'Curtose_{w}'] = df['Close_VALE3'].rolling(window=w, min_periods=1).kurt()

In [7]:
# Dropando valores NaN:
df = df.dropna()
df

,Close_VALE3,Open_VALE3,Volume_VALE3,Close_Minerio,Open_Minerio,Varia√ß√£o_Minerio,Varia√ß√£o_VALE3,Dia,Semana,M√™s,...,roll_skew_15,Curtose_15,MM_de_30,Desvio_Padrao_de_30,roll_skew_30,Curtose_30,MM_de_50,Desvio_Padrao_de_50,roll_skew_50,Curtose_50
2022-01-10,63.366024,62.976665,25056700,124.48,124.48,-1.370731,-1.190501,10,0,1,...,0.758624,-1.666752,60.982806,2.228901,0.758624,-1.666752,60.982806,2.228901,0.758624,-1.666752
2022-01-11,64.572273,63.732484,28418800,126.75,126.75,1.823586,1.903621,11,1,1,...,0.288819,-2.355133,61.495587,2.445529,0.288819,-2.355133,61.495587,2.445529,0.288819,-2.355133
2022-01-12,65.274635,66.030445,27335400,128.66,128.66,1.506903,1.087715,12,2,1,...,0.027978,-2.264997,61.967968,2.628952,0.027978,-2.264997,61.967968,2.628952,0.027978,-2.264997
2022-01-13,64.282166,64.770771,23154200,127.84,127.84,-0.637339,-1.520452,13,3,1,...,-0.244855,-2.134051,62.225101,2.577309,-0.244855,-2.134051,62.225101,2.577309,-0.244855,-2.134051
2022-01-14,64.656250,63.915706,21183400,126.24,126.24,-1.251564,0.581941,14,4,1,...,-0.457193,-1.914942,62.468216,2.548630,-0.457193,-1.914942,62.468216,2.548630,-0.457193,-1.914942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-23,54.320000,54.000000,14747300,99.81,99.81,-0.080088,0.165960,23,4,5,...,-0.324580,-1.637176,53.886667,1.031050,0.026033,-1.077892,54.707800,1.957700,-0.092500,-0.233223
2025-05-27,53.840000,54.000000,17943000,99.48,99.48,-0.330628,-0.883652,27,1,5,...,-0.414413,-1.341707,53.953000,0.956845,0.165655,-1.250139,54.709400,1.956942,-0.094601,-0.228681
2025-05-28,53.410000,53.740002,17700600,99.39,99.39,-0.090470,-0.798663,28,2,5,...,-0.421093,-1.216086,53.974000,0.936919,0.169704,-1.187451,54.687600,1.965375,-0.064842,-0.278782
2025-05-29,53.450001,53.730000,10246100,99.27,99.27,-0.120736,0.074894,29,3,5,...,-0.394918,-1.104977,53.967000,0.940125,0.186887,-1.207078,54.630800,1.959149,0.008174,-0.252883
2025-05-30,52.099998,53.349998,28286100,99.12,99.12,-0.151103,-2.525729,30,4,5,...,-0.727797,-0.123405,53.891667,0.996411,0.155155,-1.115663,54.530800,1.958149,0.079397,-0.240926